.login-bg {
    box-sizing: border-box;
    background-image: url('../../assets/background.jpg');
    background-color: #504d2c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.form-container-login {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eab741;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.img-login img {
    width: 220px;
    display: block;
    margin: 0 auto 20px auto;
}


.input-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-area {
    width: 100%;
    /* padding: 10px; */
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.btn-yellow {
    width: 100%;
    padding: 12px;
    background-color: #eab741;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-yellow:hover {
    background-color: #ce8326;
}

.texto-link {
    text-decoration: none;
    color: #eab741;
    cursor: pointer;
}

.texto-link:hover {
    color: #ce8326;
}

@media (max-width: 768px) {
    .form-container-login {
        padding: 20px;
        width: 100%;
        max-width: 90%;
    }

    .img-login img {
        width: 180px;
    }

    .input-area {
        font-size: 14px;
    }

    .btn-yellow {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .img-login img {
        width: 150px;
    }

    .input-area {
        font-size: 12px;
        padding: 8px;
    }

    .btn-yellow {
        padding: 8px;
    }
}
