 .dashboard-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
   
}

.menu {
    width: 200px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

.content {
    width: calc(100% - 220px);
    padding: 20px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; 
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-right: 20px;
}

.titulo h2 {
    font-size: 32px;
    color:#504d2c;
    margin-bottom: 30px;
    margin-left: 300px;
    padding-top: 20px;
}

.card {
    width: 25%;
    height: 120px;
    font-size: 30px;
    background-color: #504d2c;
    color:#eab741;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    justify-content: space-between;
}

.num-card {
    font-size: 50px;
    margin-left: 40px;
    color:#eab741;
    padding-bottom: 20px;
    margin-top: 0;
}

.icon-card {
    width: 50px;
    height: 50px;
   
}

.map-container {
    flex: 2;
    height: 300px; 
    background-color: #e0e0e0;
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 200px;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.lista-locais {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 55vh; 
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden; 
    padding: 10px;
    background-color: #504d2c;
    border-radius: 5px;
    margin-top: 80px; 
    margin-left: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

