.dash-card-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #eab741;
}

.dash-card-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-card-info-header h6 {
    font-size: 16px;
    margin: 0;
    color: #555;
}

.dash-coord-btn {
    background-color: #7b2b2a;
    color: #eab741;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.dash-coord-btn:hover {
    background-color: #9b3b3b;
}

.dash-card-info-img {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .dash-card-info-container {
        width: 100%;
    }
}
