.destinos-container {
    box-sizing: border-box;
    background-color: #FFFBE9;
    height: 100vh;
    max-width: 100vw;
    align-items: center;
    margin-Left: 200px;
    padding: 40px;
}

@media (max-width: 768px) {
    .destinos-container {
        box-sizing: border-box;
        background-color: #FFFBE9;
        height: 100vh;
        max-width: 100vw;
        align-items: center;
        margin-left: 95px;
        padding-right: 5px;
        padding-left: 10px;

        font-size: 12px;
    }
}

.tabela-destinos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .tabela-destinos {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
}

.tabela-destinos th,
.tabela-destinos td {
    border: 1px solid #ddd;
    padding: 5px;
}

@media (max-width: 768px) {

    .tabela-destinos th,
    .tabela-destinos td {
        border: 1px solid #ddd;
        padding: 5px;
    }
}

.tabela-destinos th {
    background-color: #eab741;
    text-align: center;
}

@media (max-width: 768px) {
    .tabela-destinos th {
        background-color: #eab741;
        text-align: center;
    }
}

.tabela-destinos th.acoes-coluna,
.tabela-destinos td.acoes-coluna {
    width: 100px;
}

@media (max-width: 768px) {

    .tabela-destinos th.acoes-coluna,
    .tabela-destinos td.acoes-coluna {
        width: 100px;
    }
}

.icon-alterar {
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .icon-alterar {
        margin-left: 10px;
        margin-right: 20px;
        cursor: pointer;
    }
}

.icon-excluir {
    cursor: pointer;
}

@media (max-width: 768px) {
    .icon-excluir {
        cursor: pointer;
    }
}
